/*~General~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.QWidget {
    background: #888888;
}


/*~Splitters~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QSplitter::handle {
    /*image: url(images/splitter.png);*/
    background-color: #ADADAD;
}
QSplitter::handle:horizontal {
    width: 3px;
}
QSplitter::handle:vertical {
    height: 3px;
}
/*QSplitter::handle:pressed {
    url(images/splitter_pressed.png);
}*/


/*~Menu Bar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*$$$ from example on http://qt-project.org/doc/qt-5/stylesheet-examples.html (colors changed$$$*/
QMenu {
    background-color: #ABABAB; /* sets background of the menu */
    border: 1px solid black;
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
    if you want menu color and menu item color to be different */
    background-color: transparent;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #4C4C4C;
}
QMenuBar {
    /*background-color: darkgray;*/
    background-color: #888888;
}

QMenuBar::item {
    /*spacing: 3px;  spacing between menu bar items */
    /*padding: 1px 4px;*/
    background: transparent;
    color: #CCCCCC;
    /*border-radius: 4px;*/
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #a8a8a8;
    color: #000000;
}

QMenuBar::item:pressed {
    background: #a8a8a8;
    color: #000000;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*~Tab bar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QTabBar {
    background-color: #888888;
}

QTabBar::tab {
    height: 25px;
    background-color: #b0b0b0;
    /*border: 2px 2px 2px 2pxsolid #ffffff;*/
    border-left: 2px solid #C4C4C4;
    padding-left: 3px;
    padding-right: 3px;
}

QTabBar::tab:selected {
    background-color: #C4C4C4;
}

QTabBar::tab:hover {
    background-color: #CDCDCD;
}


/*~Tool Bar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QToolBar {
    background-color: #ADADAD;
}


/*~Scroll Bars~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QScrollBar:horizontal {
    border: 0 1px solid #BBBBBB;
    background: #BBBBBB;
    height: 10px;
    margin: 0px 20px 0 20px;
}
QScrollBar::handle:horizontal {
    background: #4C4C4C;
    min-width: 20px;
}
QScrollBar::add-line:horizontal {
    border-left: 3px solid #BBBBBB;
    background: #4C4C4C;
    width: 17px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border-right: 3px solid #BBBBBB;
    background: #4C4C4C;
    width: 17px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar:vertical {
    border: 1px 0 solid #BBBBBB;
    background: #BBBBBB;
    width: 10px;
    margin: 20px 0 20px 0;
}
QScrollBar::handle:vertical {
    background: #4C4C4C;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    border-top: 3px solid #BBBBBB;
    background: #4C4C4C;
    height: 17px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border-bottom: 3px solid #BBBBBB;
    background: #4C4C4C;
    height: 17px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


/*~Status Bar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QStatusBar {
    height: 16px;
    background-color: #888888;
}

/*QStatusBar QSizeGrip {
    image: url(:/images/sizegrip.png);
    width: 16px;
    height: 16px;
}*/

/*~Widget Headers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QHeaderView::section {
	background-color: #888888;
	color: #CCCCCC;
}

/*~Tree view~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QTreeView {
	background: #BBBBBB;
    show-decoration-selected: 1;
}

/*QTreeView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1);
    border: 1px solid #bfcde4;
}*/

QTreeView::item:selected {
    /*border: 1px solid #567dbc;/**/
    background-color: #4C4C4C;
    color: #FFF;
}

/*QTreeView::branch {
    border-image: none;
    image: none;
}*/

QTreeView::branch:selected {
        background: #4C4C4C;
}

/* this code is the example code from the Qt documentation */
/*
QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(vline.png) 0;/
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(branch-more.png) 0;
    border-image: none;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(branch-end.png) 0;
    border-image: none;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(branch-open.png);
}
/**/
