.QWidget {
    background: #888888;
}

/*$$$ from example on http://qt-project.org/doc/qt-5/stylesheet-examples.html (colors changed$$$*/
QMenu {
    background-color: #ABABAB; /* sets background of the menu */
    border: 1px solid black;
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
    if you want menu color and menu item color to be different */
    background-color: transparent;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #4C4C4C;
}
QMenuBar {
    /*background-color: darkgray;*/
    background-color: #888888;
}

QMenuBar::item {
    /*spacing: 3px;  spacing between menu bar items */
    /*padding: 1px 4px;*/
    background: transparent;
    color: #CCCCCC;
    /*border-radius: 4px;*/
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #a8a8a8;
    color: #000000;
}

QMenuBar::item:pressed {
    background: #a8a8a8;
    color: #000000;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*~Tab bar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QTabBar {
    background-color: #888888;
}

QTabBar::tab {
    height: 25px;
    background-color: #b0b0b0;
    /*border: 2px 2px 2px 2pxsolid #ffffff;*/
    border-left: 2px solid #C4C4C4;
    padding-left: 7px;
}

QTabBar::tab:selected {
    background-color: #C4C4C4;
}

QTabBar::tab:hover {
    background-color: #CDCDCD;
}


/*~Tool Bar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QToolBar {
    background-color: #ADADAD;
}


/*~Scroll Bars~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QScrollBar:horizontal {
    border: 0px solid #888888;
    background: #BBBBBB;
    height: 12px;
    margin: 0px 15px 0px 15px;
}
QScrollBar::handle:horizontal {
    background: #4C4C4C;
    min-width: 10px;
}
QScrollBar::add-line:horizontal {
    width: 13px;
    height: 13px;
    padding: 0px 0px 0px 0px transparent;
    margin: 0px 0px 0px 0px transparent;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    width: 13px;
    height: 13px;
    padding: 0px 0px 0px 0px transparent;
    margin: 0px 0px 0px 0px transparent;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar:vertical {
    border: 0px solid #888888;
    background: #BBBBBB;
    width: 13px;
    margin: 16px 0 16px 0;
}
QScrollBar::handle:vertical {
    background: #4C4C4C;
    min-height: 10px;
}
QScrollBar::add-line:vertical {
    height: 13px;
    height: 13px;
    padding: 0px 0px 0px 0px transparent;
    margin: 0px 0px 0px 0px transparent;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    height: 13px;
    height: 13px;
    padding: 0px 0px 0px 0px transparent;
    margin: 0px 0px 0px 0px transparent;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


/*~Status Bar~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
QStatusBar {
    height: 16px;
    background-color: #888888;
}

/*QStatusBar QSizeGrip {
    image: url(:/images/sizegrip.png);
    width: 16px;
    height: 16px;
}*/
